[Unit]
Description=Public Application Command Interface

[Service]
User=appcmd
Group=appcmd
ExecStart=/usr/local/bin/appcmd-public

[Install]
WantedBy=wsgi-services.target
