[Unit]
Description=Private Application Command Interface
PartOf=wsgi-services.target

[Service]
User=appcmd
Group=appcmd
ExecStart=/usr/local/bin/appcmd-private

[Install]
WantedBy=wsgi-services.target
