[Unit]
Description=Private Application Command Interface
After=network.target mysql.service
Wants=mysql.service

[Service]
User=appcmd
Group=appcmd
ExecStart=/usr/local/bin/appcmd-private

[Install]
WantedBy=multi-user.target
