[Unit]
Description=Public Application Command Interface
After=network.target mysql.service
Requires=mysql.service

[Service]
User=appcmd
Group=appcmd
ExecStart=/usr/local/bin/appcmd-public

[Install]
WantedBy=multi-user.target
